:root {
    /* Catppuccin Mocha */
    --bg-1: #1e1e2e; /* base */
    --bg-2: #313244; /* surface0 */
    --bg-3: #45475a; /* surface1 */
    --bg-4: #585b70; /* surface2 */
    --txt-4: #6c7086; /* overlay0 */
    --txt-3: #a6adc8; /* subtext0 */
    --txt-2: #cdd6f4; /* subtext1 */
    --txt-1: #f5e0dc; /* text */
    --txt-err: #f38ba8; /* red */
    
    /* Catppuccin Mocha Accent Colors */
    --accent-rosewater: #f5e0dc;
    --accent-flamingo: #f2cdcd;
    --accent-pink: #f5c2e7;
    --accent-mauve: #cba6f7;
    --accent-red: #f38ba8;
    --accent-maroon: #eba0ac;
    --accent-peach: #fab387;
    --accent-yellow: #f9e2af;
    --accent-green: #a6e3a1;
    --accent-teal: #94e2d5;
    --accent-sky: #89dceb;
    --accent-sapphire: #74c7ec;
    --accent-blue: #89b4fa;
    --accent-lavender: #b4befe;
}

* {
    box-sizing: border-box;
}

html {
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-1);
    color: var(--txt-2);

    font-family: 'Geist Mono Variable', monospace;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
}

#app {
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    color: var(--txt-1);
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    color: var(--txt-3);

    &:hover {
        color: var(--txt-2);
    }
}
.panel {
    padding: 1.5rem;
    border: 2px solid var(--bg-3);
    position: relative;
}

.panel-label,
.widget-label {
    position: absolute;
    top: -14px;
    left: 8px;
    background-color: var(--bg-1);
    color: var(--txt-4);
    padding: 0 4px;
    z-index: 10;
}

.widget-label:hover:not(:disabled) {
    color: var(--txt-3);
}

.widget-label:disabled {
    cursor: default;
    color: var(--txt-4);
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

input {
    font: inherit;
    color: inherit;
    outline: none;
}

.error {
    color: var(--txt-err);
}
